.DS_Store
.idea/workspace.xml
.idea/vcs.xml
.idea/progappjs.iml
.idea/modules.xml
.idea/misc.xml
node_modules/
.idea/encodings.xml
.idea/mongoSettings.xml
backend/__pycache__/PushSettings.cpython-36.pyc
backend/__pycache__/Push.cpython-36.pyc
.idea/dictionaries/Chi.xml
backend/__pycache__/TransactionScheduler.cpython-36.pyc
ionicApp/www/assets/fonts/ionicons.scss
ionicApp/www/assets/fonts/ionicons.svg
ionicApp/www/assets/fonts/noto-sans.scss
ionicApp/www/assets/fonts/roboto.scss
ionicApp/www/build/0.js
ionicApp/www/build/1.js
ionicApp/www/build/1.js.map
ionicApp/www/build/10.js
ionicApp/www/build/10.js.map
ionicApp/www/build/11.js
ionicApp/www/build/12.js
ionicApp/www/build/12.js.map
ionicApp/www/build/13.js
ionicApp/www/build/14.js
ionicApp/www/build/15.js
ionicApp/www/build/16.js
ionicApp/www/build/17.js
ionicApp/www/build/18.js
ionicApp/www/build/2.js
ionicApp/www/build/3.js
ionicApp/www/build/3.js.map
ionicApp/www/build/4.js
ionicApp/www/build/5.js
ionicApp/www/build/6.js
ionicApp/www/build/7.js
ionicApp/www/build/8.js
ionicApp/www/build/9.js
ionicApp/www/build/main.css
ionicApp/www/build/main.js
ionicApp/www/build/main.js.map
ionicApp/www/build/polyfills.js
ionicApp/www/build/sw-toolbox.js
ionicApp/www/build/vendor.js
ionicApp/www/build/vendor.js.map
ionicApp/www/manifest.json
ionicApp/www/service-worker.js
